spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/support}
    username: ${SPRING_DATASOURCE_USERNAME:support}
    password: ${SPRING_DATASOURCE_PASSWORD:support}
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
  jackson:
    serialization:
      write-dates-as-timestamps: false
server:
  port: ${SERVER_PORT:8080}
